Repository LucaEggenberg/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: opentofu, homeassistant

opentofu:
  stage: orchestrate
  trigger:
    include: pipelines/gitlab/opentofu-cd.yml
    strategy: depend

homeassistant:
  stage: orchestrate
  trigger:
    include: pipelines/gitlab/homeassistant-cd.yml
    strategy: depend

remove readinessprobe
  applications/kubernetes/media/servarr/deployment.yml
Due: none

typo
  applications/kubernetes/media/servarr/service.yml
Due: none

fix app selector, add dns
  applications/kubernetes/media/servarr/deployment.yml
  applications/kubernetes/media/servarr/service.yml
Due: none

formatting
  applications/kubernetes/media/servarr/deployment.yml
Due: none

fix networking + re-add readinessprobe
  applications/kubernetes/media/servarr/deployment.yml
Due: none

fix readinessprobe
  applications/kubernetes/media/servarr/deployment.yml
Due: none

set auth scheme on gluetun
  applications/kubernetes/media/qbittorrent/deployment.yml
  applications/kubernetes/media/servarr/deployment.yml
Due: none

typo
  applications/kubernetes/media/qbittorrent/deployment.yml
  applications/kubernetes/media/servarr/deployment.yml
Due: none

move securityContext to correct pod
  applications/kubernetes/media/qbittorrent/deployment.yml
Due: none

remove fsgroup
  applications/kubernetes/media/qbittorrent/deployment.yml
Due: none

use env
  applications/kubernetes/media/qbittorrent/deployment.yml
Due: none

add renovate manifests
  applications/kubernetes/renovate/cronjob.yml
  applications/kubernetes/renovate/renovate-env.yml
  applications/kubernetes/renovate/ssh-secret.yml
  argocd/applications/renovate.yml
Due: none

Add renovate.json
  renovate.json
Due: none

add kubernetes & argocd paths
  renovate.json
Due: none

Update Terraform proxmox to v3.0.2-rc07
  infrastructure/modules/vm/main.tf
  infrastructure/providers.tf
Due: opentofu

Update Helm release cert-manager to v1.19.3
  argocd/applications/cert-manager.yml
Due: none

run cd only on main
  .gitlab-ci.yml
Due: none

Update Helm release csi-driver-smb to v1.20.0
  argocd/applications/csi-driver.yml
Due: none

Update Helm release gitlab to v9.9.0
  argocd/applications/gitlab.yml
Due: none

Update Helm release longhorn to v1.11.0
  argocd/applications/longhorn.yml
Due: none

Update Helm release sealed-secrets to v2.18.1
  argocd/applications/sealed-secrets.yml
Due: none

Update Helm release stirling-pdf-chart to v2.2.0
  argocd/applications/stirling-pdf.yml
Due: none

Update Helm release traefik to v35.4.0
  argocd/applications/traefik-internal.yml
  argocd/applications/traefik-public.yml
Due: none

Update renovate/renovate Docker tag to v37.440.7
  applications/kubernetes/renovate/cronjob.yml
Due: none

Update Helm release stirling-pdf-chart to v3
  argocd/applications/stirling-pdf.yml
Due: none

split ci/cd to separate pipelines
  .gitlab-ci.yml
  pipelines/gitlab/homeassistant-cd.yml
  pipelines/gitlab/homeassistant-ci.yml
  pipelines/gitlab/opentofu-cd.yml
  pipelines/gitlab/opentofu.ci.yml
Due: opentofu, homeassistant

fix pipeline name
  pipelines/gitlab/opentofu-ci.yml
Due: none

Update Helm release traefik to v39
  argocd/applications/traefik-internal.yml
  argocd/applications/traefik-public.yml
Due: none

correctly handle tf exit-codes
  pipelines/gitlab/opentofu-cd.yml
  pipelines/gitlab/opentofu-ci.yml
Due: opentofu

typo
  pipelines/gitlab/opentofu-cd.yml
Due: opentofu

remove manual step
  pipelines/gitlab/opentofu-cd.yml
Due: opentofu

define artifact & set expiry
  pipelines/gitlab/opentofu-cd.yml
  pipelines/gitlab/opentofu-ci.yml
Due: opentofu

fix inconsistent lock file
  pipelines/gitlab/opentofu-cd.yml
Due: opentofu

deprecation fix
  infrastructure/modules/vm/main.tf
Due: opentofu

Update renovate/renovate Docker tag to v43
  applications/kubernetes/renovate/cronjob.yml
Due: none

Update Helm release cert-manager to v1.19.2
  argocd/applications/cert-manager.yml
Due: none

Update Helm release gitlab to v9.7.0
  argocd/applications/gitlab.yml
Due: none

Update Helm release longhorn to v1.10.1
  argocd/applications/longhorn.yml
Due: none

Update ubuntu Docker tag to v24.10
  pipelines/gitlab/homeassistant-cd.yml
Due: homeassistant

Update Helm release traefik to v38
  argocd/applications/traefik-internal.yml
  argocd/applications/traefik-public.yml
Due: none

Path conditions:
  opentofu: any of: infrastructure/**/*, pipelines/gitlab/opentofu-cd.yml
  homeassistant: any of: applications/homeassistant/**/*, pipelines/gitlab/homeassistant-cd.yml
