Repository LucaEggenberg/homelab: changes, and which GitLab CI jobs are due for each by the changed paths.
All: opentofu, homeassistant

.gitlab-ci.yml:

stages:
  - orchestrate

opentofu:
  stage: orchestrate
  rules:
    - changes:
        - infrastructure/**/*
        - pipelines/gitlab/opentofu-cd.yml
  trigger:
    include: pipelines/gitlab/opentofu-cd.yml
    strategy: depend

homeassistant:
  stage: orchestrate
  rules:
    - changes:
        - applications/homeassistant/**/*
        - pipelines/gitlab/homeassistant-cd.yml
  trigger:
    include: pipelines/gitlab/homeassistant-cd.yml
    strategy: depend

test
  pipelines/gitlab/homeassistant-cd.yml
  pipelines/gitlab/opentofu-cd.yml
Due: opentofu, homeassistant

undo / move image to default
  pipelines/gitlab/homeassistant-cd.yml
  pipelines/gitlab/opentofu-cd.yml
Due: opentofu, homeassistant

fix deploy pipeline
  pipelines/gitlab/homeassistant-cd.yml
Due: homeassistant

don't recreate repo path on remote host
  pipelines/gitlab/homeassistant-cd.yml
Due: homeassistant

fix command
  pipelines/gitlab/homeassistant-cd.yml
Due: homeassistant

correct light names
  applications/homeassistant/config/dashboards/lights.yaml
Due: homeassistant

gpt generated skeleton
  applications/homeassistant/config/configuration.yaml
  applications/homeassistant/config/dashboards/home.yaml
  applications/homeassistant/config/dashboards/media.yaml
  applications/homeassistant/config/dashboards/rooms.yaml
  applications/homeassistant/config/dashboards/rooms/bedroom.yaml
Due: homeassistant

redo
  applications/homeassistant/config/dashboards/home.yaml
  applications/homeassistant/config/dashboards/lights.yaml
  applications/homeassistant/config/dashboards/media.yaml
  applications/homeassistant/config/dashboards/rooms.yaml
  applications/homeassistant/config/dashboards/rooms/bedroom.yaml
  applications/homeassistant/config/dashboards/rooms/living.yaml
  applications/homeassistant/config/dashboards/rooms/office.yaml
  applications/homeassistant/config/dashboards/rooms/shower.yaml
Due: homeassistant

correct path
  applications/homeassistant/config/lovelace_resources.yaml
Due: homeassistant

base home dashboard
  applications/homeassistant/config/dashboards/home.yaml
  applications/homeassistant/config/lovelace_resources.yaml
Due: homeassistant

configure container-registry storage
  applications/kubernetes/gitlab/helm-values.yml
  applications/kubernetes/gitlab/registry-storage-secret.yml
Due: none

fix jellyfin backup service
  nixos/hosts/v-jellyfin-1/backups.nix
Due: none

increase cache size + nfs instead of smb
  nixos/hosts/v-jellyfin-1/default.nix
  nixos/secrets/jellyfin/smb.env
Due: none

fix service
  nixos/hosts/v-jellyfin-1/backups.nix
Due: none

increase memory
  infrastructure/data/hosts.yml
Due: opentofu

add immich vm
  infrastructure/data/hosts.yml
Due: opentofu

configure immich
  applications/kubernetes/external-routes/immich/certificate.yml
  applications/kubernetes/external-routes/immich/endpoint.yml
  applications/kubernetes/external-routes/immich/ingressroute.yml
  applications/kubernetes/external-routes/immich/service.yml
  infrastructure/data/firewall_groups.yml
  infrastructure/data/firewall_policies.yml
  nixos/flake.nix
  nixos/hosts/v-immich-1/backups.nix
  nixos/hosts/v-immich-1/default.nix
Due: opentofu

fix typo
  applications/kubernetes/media/volumes/smb-pv.yml
Due: none

configure immich library on nfs
  nixos/flake.lock
  nixos/hosts/v-immich-1/default.nix
Due: none

separate traefik deployments for internal & public-facing apps
  applications/kubernetes/external-routes/argocd/ingressroute.yml
  applications/kubernetes/external-routes/homeassistant/ingressroute.yml
  applications/kubernetes/external-routes/immich/ingressroute.yml
  applications/kubernetes/external-routes/jellyfin/ingressroute.yml
  applications/kubernetes/external-routes/srv-plg-1/ingressroute.yml
  applications/kubernetes/gitlab/ingressroute.yml
  applications/kubernetes/homepage/ingressroute.yml
  applications/kubernetes/longhorn/ingressroute.yml
  applications/kubernetes/media/cleanuparr/ingressroute.yml
  applications/kubernetes/media/flaresolverr/ingressroute.yml
  applications/kubernetes/media/huntarr/ingressroute.yml
  applications/kubernetes/media/jellyseerr/ingressroute.yml
  applications/kubernetes/media/prowlarr/ingressroute.yml
  applications/kubernetes/media/qbittorrent/ingressroute.yml
  applications/kubernetes/media/radarr/ingressroute.yml
  applications/kubernetes/media/sonarr/ingressroute.yml
  applications/kubernetes/minio/ingressroute.yml
  applications/kubernetes/pterodactyl/ingressroute.yml
  applications/kubernetes/stirling-pdf/ingressroute.yml
  applications/kubernetes/traefik-internal/helm-values.yml
  applications/kubernetes/traefik-public/helm-values.yml
  argocd/applications/traefik-internal.yml
  argocd/applications/traefik-public.yml
Due: none

refactor tf + adjust for internal/public traefik split
  infrastructure/data/cloudflare_cidrs.yml
  infrastructure/data/firewall_groups.yml
  infrastructure/data/firewall_policies.yml
  infrastructure/data/hosts.yml
  infrastructure/main.tf
  infrastructure/modules/firewall_policy/main.tf
  infrastructure/modules/firewall_policy/variables.tf
Due: opentofu

fixes
  infrastructure/data/firewall_policies.yml
  infrastructure/main.tf
Due: opentofu

revert name of internal
  infrastructure/data/hosts.yml
Due: opentofu

disable servicelb on k3s
  nixos/modules/kubernetes/k3s.nix
Due: none

fix syntax on routes
  applications/kubernetes/external-routes/argocd/ingressroute.yml
  applications/kubernetes/external-routes/homeassistant/ingressroute.yml
  applications/kubernetes/external-routes/immich/ingressroute.yml
  applications/kubernetes/external-routes/jellyfin/ingressroute.yml
  applications/kubernetes/external-routes/srv-plg-1/endpoint.yml
  applications/kubernetes/external-routes/srv-plg-1/ingressroute.yml
  applications/kubernetes/external-routes/srv-plg-1/service.yml
  applications/kubernetes/gitlab/certificate.yml
  applications/kubernetes/gitlab/ingressroute.yml
  applications/kubernetes/homepage/ingressroute.yml
  applications/kubernetes/longhorn/ingressroute.yml
  applications/kubernetes/media/cleanuparr/ingressroute.yml
  applications/kubernetes/media/flaresolverr/ingressroute.yml
  applications/kubernetes/media/huntarr/ingressroute.yml
  applications/kubernetes/media/jellyseerr/ingressroute.yml
  applications/kubernetes/media/prowlarr/ingressroute.yml
  applications/kubernetes/media/qbittorrent/ingressroute.yml
  applications/kubernetes/media/radarr/ingressroute.yml
  applications/kubernetes/media/sonarr/ingressroute.yml
  applications/kubernetes/minio/ingressroute.yml
  applications/kubernetes/pterodactyl/ingressroute.yml
  applications/kubernetes/stirling-pdf/ingressroute.yml
Due: none

fix block rule
  infrastructure/data/firewall_policies.yml
  infrastructure/main.tf
Due: opentofu

typo
  infrastructure/data/hosts.yml
Due: opentofu

create nfs volumes
  applications/kubernetes/media/volumes/nfs.yml
Due: none

create vpn gateway service
  applications/kubernetes/media/vpn-gateway/deployment.yml
  applications/kubernetes/media/vpn-gateway/sealed-secret.yml
  applications/kubernetes/media/vpn-gateway/service.yml
  applications/kubernetes/sealed-secrets/readme.md
Due: none

add storageclass + port on vpn
  applications/kubernetes/media/qbittorrent/deployment.yml
  applications/kubernetes/media/volumes/nfs.yml
  applications/kubernetes/media/vpn-gateway/deployment.yml
Due: none

remove port
  applications/kubernetes/media/vpn-gateway/deployment.yml
Due: none

set region instead of specific server
  applications/kubernetes/media/vpn-gateway/deployment.yml
Due: none

update readme to be more accurate and useful
  readme.md
Due: none

fix gluetun error adding ipv6 rule
  applications/kubernetes/media/qbittorrent/deployment.yml
  applications/kubernetes/media/vpn-gateway/deployment.yml
Due: none

add proxy env to prowlarr
  applications/kubernetes/media/prowlarr/deployment.yml
Due: none

switch prowlarr to nfs
  applications/kubernetes/media/prowlarr/deployment.yml
Due: none

correct pvc name
  applications/kubernetes/media/prowlarr/deployment.yml
Due: none

add nfs-utils to k3s nodes
  nixos/modules/kubernetes/default.nix
  nixos/modules/kubernetes/nfs.nix
Due: none

convert servarr to one megapod
  applications/kubernetes/media/cleanuparr/certificate.yml
  applications/kubernetes/media/cleanuparr/deployment.yml
  applications/kubernetes/media/cleanuparr/ingressroute.yml
  applications/kubernetes/media/cleanuparr/service.yml
  applications/kubernetes/media/flaresolverr/certificate.yml
  applications/kubernetes/media/flaresolverr/deployment.yml
  applications/kubernetes/media/flaresolverr/ingressroute.yml
  applications/kubernetes/media/flaresolverr/service.yml
  applications/kubernetes/media/huntarr/certificate.yml
  applications/kubernetes/media/huntarr/deployment.yml
  applications/kubernetes/media/huntarr/ingressroute.yml
  applications/kubernetes/media/huntarr/service.yml
  applications/kubernetes/media/prowlarr/certificate.yml
  applications/kubernetes/media/prowlarr/deployment.yml
  applications/kubernetes/media/prowlarr/ingressroute.yml
  applications/kubernetes/media/prowlarr/service.yml
  applications/kubernetes/media/qbittorrent/deployment.yml
  applications/kubernetes/media/radarr/certificate.yml
  applications/kubernetes/media/radarr/deployment.yml
  applications/kubernetes/media/radarr/ingressroute.yml
  applications/kubernetes/media/radarr/service.yml
  applications/kubernetes/media/servarr/certificate.yml
  applications/kubernetes/media/servarr/deployment.yml
  applications/kubernetes/media/servarr/ingressroute.yml
  applications/kubernetes/media/servarr/service.yml
  applications/kubernetes/media/sonarr/certificate.yml
  applications/kubernetes/media/sonarr/deployment.yml
  applications/kubernetes/media/sonarr/ingressroute.yml
  applications/kubernetes/media/sonarr/service.yml
  applications/kubernetes/media/vpn-gateway/deployment.yml
  applications/kubernetes/media/vpn-gateway/sealed-secret.yml
  applications/kubernetes/media/vpn-gateway/service.yml
Due: none

readd secret
  applications/kubernetes/media/servarr/vpn-gateway-secret.yml
Due: none
